<?xml version="1.0" encoding="utf-8"?>
<!-- Основной манифест приложения для Android, который определяет необходимые разрешения и основные атрибуты приложения. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Разрешение для доступа к интернету, необходимое для отправки и получения данных из сети, например, запросов погоды. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_weather"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_weather"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:targetApi="31">
        <!-- Разрешает резервное копирование данных приложения. -->
        <!-- Правила извлечения данных для передачи на новое устройство. -->
        <!-- Определяет, какие данные включать в полное резервное копирование. -->
        <!-- Иконка приложения, отображаемая на домашнем экране и в меню приложений. -->
        <!-- Название приложения, используемое в системе. -->
        <!-- Иконка приложения для устройств с поддержкой круглых иконок. -->
        <!-- Поддержка интерфейса с право-на-лево (для арабского, иврита и других языков). -->
        <!-- Тема оформления приложения без панели действий. -->
        <!-- Целевая версия API, для которой предназначены специфичные функции. -->

        <!-- Описание главной активности приложения. -->
        <activity
            android:name="com.example.weathermoscow.MainActivity"
            android:exported="true">
            <!-- Позволяет другим приложениям явно запускать эту активность. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- Указывает, что это точка входа в приложение. -->
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Запускает активность из меню приложений. -->
            </intent-filter>
        </activity>
    </application>
</manifest>
